/* settings */
.random-prompt .search-input-container {
  width: 100%;
}

.random-prompt .setting-item.search {
  border-top: none;
}

/* insert modal */
.random-prompt.modal .modal-title {
  font-weight: normal;
}

.random-prompt.modal .prompt-text {
  border: none;
  text-align: center;
}

.random-prompt.modal .setting-item {
  border: none;
}

.random-prompt.modal .setting-item-control {
  justify-content: center;
}

.random-prompt.modal .setting-item-control button:hover {
  cursor: pointer;
}
